:root {
    --verde: #00b30c;
    --gris1: #353537;
    --gris2: #eaeaeb;
    --gris3: #777777;
}
h1,h2,h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
h2{
	font-size: 2.4rem;
}
.titulo{
	font-size: 3.2rem;
}

/*SCROLL*/
.header-scroll{
	opacity: 0;
	position: fixed;
	margin-top: -300px;
	width: 100%;
	background-color: white;
	z-index: 100;
	border-bottom:  1px solid rgba(0,0,0,.1);
	transition: all .5s ease;
}

@media(min-width: 768px){
	.header-scroll.activo{
		margin-top: 0;
		opacity: 1;
	}
}

.header-scroll .nav-link{
	color: #777!important;
}
.header-scroll .btn-outline-success{
	color: #00b30c!important;
}
.header-scroll .btn-outline-success:hover{
	color: white!important;
}


/*HEADER*/
.header{
	background-image: url(../img/hero.jpg);
	min-height: 35rem;
	background-size: cover;
}

.header .nav-link,
.header .nav-link:hover{
	color: white;
}
.header .btn-outline-light:hover{
	color: #000!important;
}

.buscador{
	min-height: 25rem;
}
.btn-success{
	background-color: var(--verde);
}

/*CATEGORIAS*/
.categoria{
	padding-bottom: 30px;
	overflow: hidden;
	height: 260px;
}
.categoria .img-fluid{
	display: block;
	width: 65px;
	height: 80px;
	margin: 10px auto;
}
.categoria h3::before{
	content: '';
	display: block;
	margin: 0 auto 20px auto;
	height: 2px;
	width: 40px;
	/*background-color: var(--verde);*/
	background-color: #d4d1d1;
	transition: all 0.4s ease;
}
.categoria:hover h3::before{
	/*height: 2px;*/
	width: 100px;
	background-color: var(--verde);
}

.categoria h3{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1.35rem;
}
.categoria p{
	color: #999;
	font-size: 0.92rem;
	opacity: 0;
	padding-top: 30px;
	transition: all .5s ease;
}
.categoria:hover p{
	opacity: 1;
	padding-top: 10px;
}

/*PRO*/
.nuevo-pro .row{
	min-height: 20rem;
}

/*Primeros Pasos*/
.primeros-pasos .descripcion{
	flex: 1 0 50%;
	height: 20rem;
	background-size: cover;
	background-repeat: no-repeat;
}
@media(min-width: 768px){
	.primeros-pasos .descripcion{
		flex: 1 0 20%;
	}
}

.primeros-pasos .logotipo{
	background-image: url(../img/servicio1.png);
}
.primeros-pasos .social-media{
	background-image: url(../img/servicio2.png);
}
.primeros-pasos .audio{
	background-image: url(../img/servicio3.png);
}
.primeros-pasos .traducciones{
	background-image: url(../img/servicio4.png);
}
.primeros-pasos .wordpress{
	background-image: url(../img/servicio5.png);
}

/*BENEFICIOS*/
.beneficios .row{
	min-height: 12rem;
}
.beneficios h3{
	font-weight: 300;
}
.beneficios h3 span{
	font-weight: 700;
}


/*Testimoniales*/
.testimoniales{
	background-color: #eaeaeb;
}
.testimoniales .carousel{
	background-color: #fff
}
.testimoniales .carousel-item h4{
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
}

.testimoniales .carousel-item blockquote{
	font-size: 1.3rem;
	color: #676767;
	font-style: italic;
}

.testimoniales .carousel-item p{
	font-size: .8rem;
}
.testimoniales .carousel-item span{
	color: var(--verde);
}
#testimoniales li.active{
	background-color: #56d65e;
}
#testimoniales li{
	background-color: #c3d2c6;
}


/*GUIAS*/
.guias .card-title{
	font-size: 1.2rem;
}

/*FOOTER*/
.footer{
	border-top: 1px solid #e1e1eb;
}
.footer h3{
	color: #777;
	font-size: 1.2rem;
}
.footer .nav-link{
	color: #777!important;
	padding: .5rem 0;
	font-size: .9rem;
}
.footer .container-fluid{
	display: flex;
	flex-wrap: wrap;
}
.footer .widget{
	justify-content: space-between;
	flex: 0 0 calc(50% - 1rem);
	padding: 1rem;
}

@media(min-width: 768px){
	.footer .widget{
		flex: 0 0 calc(33.3% - 1rem);
	}
}
@media(min-width: 992px){
	.footer .widget{
		flex: 0 0 calc(20% - 1rem);
	}
}
